<h1>Esta es la vista de Cambios</h1>
<div class = 'bloque'>
    <div class = 'margenIz'>Margen izquierdo<br>
        <div class = 'fase'>
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>
    </div>
        
    <div class = 'centro'>Centro
        <app-redactar></app-redactar>
    </div>
    
    <div class = 'margenDr'>Margen derecho
        <div class="fase" *ngIf = "isAdmin()">
            <button (click)="siguiente()" class='boton' mat-raised-button>Siguiente fase</button><br>
            <button (click)="fin()" class='boton' mat-raised-button>Finalizar</button>
        </div>    
    </div>
    
</div>