<div class = "row titulo">
    <h1 class="col-lg-12">Esta es la vista de Cambios</h1>
</div>
<div class = 'row doc'>
    <div class = 'col-lg-2'>
        <div class = 'fase'>
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>
    </div>
        
    <div class = 'col-lg-8'>
        <app-redactar></app-redactar>
    </div>
    
    <div class = 'col-lg-2'>
        <div class="fase" *ngIf = "isAdmin()">
            <button (click)="siguiente()" class='boton' mat-raised-button>Siguiente fase</button><br>
            <button (click)="fin()" class='boton' mat-raised-button>Finalizar</button>
        </div>    
    </div>
    
</div>