<h1>Esta es la vista de {{getFase()}}</h1>
<div class = 'bloque'>
    <div class = 'margenIz'>Margen izquierdo<br>
        <div class = 'fase'>
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>
    </div>
    <div class = 'centro'>
        Centro
        <app-texto></app-texto>
    </div>
    <div class = 'margenDr'>Margen derecho<br>
    
        <app-opinar *ngIf="isOpinar()"></app-opinar><br><br>
        <div *ngIf = "isComent()">
            Comentarios ya hechos: <br><br>
            <div *ngFor = 'let coment of coments'>
                {{coment.text}}
                <br>
                {{coment.name}}
                <br><br>

            </div>


        </div>
        <div class="fase" *ngIf = "isAdmin()">
            Fase:<a class = "doc" [routerLink] = "['/documento']" [queryParams] = "{id: getId() , x:'1'}">
                    {{getFase()}}
            </a>
        </div>

        

    </div>
    
</div>