.boton{
    
    color:#60708B;


}

h4{

  text-align: center;

}

.comment{

    background-color: rgba(229, 232, 42, 0.7);
    
  
  }

  .titulo{

    margin-top: 50px;

  }

  .doc{

    margin-top: 50px;

  }


  .wave-editor-on{

    border:none;
    outline:none;

}