<h1>Esta es la vista de {{getFase()}}</h1>
<div class = 'bloque'>
    <div class = 'margenIz'>Margen izquierdo<br>
        <div class = 'fase'>
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>
    </div>
    <div class = 'centro'>
        Centro
        <app-texto></app-texto>
    </div>
    <div class = 'margenDr'>Margen derecho<br>
    
        <app-opinar *ngIf="mostrar()"></app-opinar>
        <div class="fase" *ngIf = "isAdmin()">
            <button (click)="siguiente()" *ngIf='!isFin()' class='boton' mat-raised-button>Siguiente fase</button><br>
            <button (click)="fin()"  *ngIf='isCambios()' class='boton' mat-raised-button>Finalizar</button>
        </div>    
    </div>
    
</div>