<div class="pantalla" *ngIf="docService.documentos.length">
    <h1>¡Documentos en los que participas!</h1>
    
    <div class= "row">
        <ng-container class = "doc" *ngFor='let doc of docService.documentos'>
            <a class="col-lg-3"  [routerLink] = "['/documento']" [queryParams] = "{id: doc.id , x:'0'}" queryParamsHandling="merge"  *ngIf="comprueba(doc)">
                <div class="documento">
                    <h4>{{doc.nombre}}</h4>
                </div>
            </a>
        </ng-container>
    </div>
</div>
    