.pantalla{

  width: 100%;
  float: left;
  text-align: center;
  border-right-style: solid;
  border-left-style: solid;
  border-color: cornflowerblue;
  border-radius: 20px;
  border-width: 1.5px;
  padding: 30px;
  color: cornflowerblue;
  
}



a {
    text-decoration: none;
    text-align: center;
    margin: 5px;
    display: inline-block;
}


.documento {
  min-width: 100px;
  margin: 15px;
  text-align: center;
  color: #eee;
  background-color: cornflowerblue;
  border-radius: 2px;
  max-width: 150px;
  padding: 30px 0px 30px 0px;
  
}
.documento:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}