<div class="pantalla" *ngIf="docService.documentos.length">
    <h1>¡Documentos en los que participas!</h1>
    
    <div class= "row">
        <ng-container *ngFor='let doc of docService.documentos'>
            <div class="col-lg-3 doc" *ngIf="comprueba(doc)">
                <div class="documento">
                    <div [routerLink] = "['/documento']" [queryParams] = "{id: doc.id , x:'0'}" queryParamsHandling="merge">
                        <img src="assets/img/file.png" alt="logo" class = "logo" height="75">
                        <h5>{{doc.nombre}}</h5>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
    