<div class = "row titulo">
    <h1>Esta es la vista de Redaccion</h1>
</div>
<div class = 'row doc'>
    <div class = 'col-lg-2'>Margen izquierdo<br>
        <div class = 'fase'>
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>
    </div>
    <div class = 'col-lg-8'>
        Centro
        <app-redactar></app-redactar>
    </div>
    <div class = 'col-lg-2'>Margen derecho
        <div class="fase" *ngIf = "isAdmin()">
            <button (click)="siguiente()" class='boton' mat-raised-button>Siguiente fase</button>
        </div>    
    </div>
    
</div>