
.general{
    
    /*background-color: #262626;*/
    background-color:cornflowerblue;
    
    height: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
        
}

.logo{
    
    /*background-color: red;*/
    vertical-align: middle;
    margin-left: 10px;
    
}

.botones{
    font-family: "Old Standard TT";
    vertical-align: middle;
    /*background-color: deeppink;*/
    
}

.login{
    padding-right: 10px;
    float: right;
    font-family: "Old Standard TT";
    
}

.cuerpo{
    
    text-align: center;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    
}

nav a{

    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    /*color: #aaa;*/
    color: white;
    
}

/*nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
*/
