.pantalla{
  
    width: 100%;
    float: left;
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-color: cornflowerblue;
    border-width: 1.5px;
    padding: 30px;
    color: cornflowerblue;
    
}
    
.boton{
  color: #607D8B;
}

.doc{

  padding: 0px 20px 0px 20px;

}
.documento:hover{


  border-color: black;
  

}
.documento {

  min-width: 100px;
  margin: 15px;
  text-align: center;
  color: #eee;
  background-color: cornflowerblue;
  border-radius: 2px;
  max-width: 150px;
  padding: 10px 0px 0px 0px;
  box-shadow: 5px 10px 8px #888888;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.233);
  
}

.tittle{
  vertical-align: middle;
}

