.pantalla{
    
    text-align: center;
    display: inline-block;
    
}

.boton{
  color: #607D8B;
}




.doc {
    text-decoration: none;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.documento {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  max-width: 80px;
  background-color: #607D8B;
  border-radius: 2px;
  margin-bottom: 10px;
}
.documento:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}