<h1>¡Si ves esto, tu rol es de Administrador!</h1>

<div class="pantalla" *ngIf="docService.documentos.length">

    <h2>Documentos</h2>
    
    <a class = "doc" [routerLink] = "['/documento']" [queryParams] = "{id: doc.id , x:'0'}" queryParamsHandling="merge" *ngFor='let doc of docService.documentos' >
        <div  class="documento" *ngIf="comprueba(doc)">
            <h4>{{doc.nombre}}</h4>
        </div>
    </a>
    <br>
    <button routerLink="/nuevo" class='boton' mat-raised-button>Crear</button>

</div>





