<div *ngIf="mostrar()">
    <h1 >Titulo del documento: {{doc.nombre}}</h1>
    <div class = 'texto'>{{doc.texto}}</div>
    <app-revision *ngIf="doc.etapa == 'revision'"></app-revision>
    <app-redaccion *ngIf="doc.etapa == 'redaccion'"></app-redaccion>
    <app-llamada *ngIf="doc.etapa == 'llamada'"></app-llamada>
    <app-final *ngIf="doc.etapa == 'final'"></app-final>
    <app-cambios *ngIf="doc.etapa == 'cambios'"></app-cambios>
    <app-analisis *ngIf="doc.etapa == 'analisis'"></app-analisis>
</div>
<div *ngIf="!mostrar()">

    <h1>{{error}}</h1>

</div>