.row{

    margin: 50px 0px 0px 0px;
    
}

.top{


    display: inline-block;
    width: 100%;
    
    
}

.fase{

 float: right;

}

div.row.fas{

    margin-top: 5px;    

}


.sub{   
   font-weight: bold;   
}



.izq{
   
    padding: 10px;
    float: left;
    text-align: left;
    
}

.der{

    float: right;
    padding: 10px;

}

.info{
    
    text-align: left;
    width: 100%;
    float: left;
    border-right-style: solid;
    border-left-style: solid;
    border-color: cornflowerblue;
    border-width: 1.5px;
    padding: 30px;
    color: cornflowerblue;
}

.example-form {

    width: 250%;
    float: left;
  }
  
  .example-full-width {

    width: 100%;
  }
  
  .boton{   
      color:#60708B;
      max-height: 40px;
  }
