
.top{


    display: inline-block;
    width: 100%;
    
    
}

.izq{
   
    margin-top: 10px;
    float: left;
    text-align: left
}

.der{
    
    
 
    float: right;
    
    
}

.bot{
    
    text-align: left;

    
}

.mat-tab-label{
    
    
    font-size: 30px;
    
    
}

.example-form {

    width: 250%;
    float: left;
  }
  
  .example-full-width {

    width: 100%;
  }
  
  .boton{
      
      color:#60708B;
  

  }
