
     <div class = "row">
        <div class = "col-lg-2">
            <button (click)="documentos()" class='boton' mat-raised-button>Volver</button>
        </div>

        <div class = "col-lg-8">
            
            <div class="info">

                <div class = "row fas">
                    <h2 class = "col-lg-4"> {{getNombre()}}</h2> 
                    <button class = "col-lg-3" (click)="verDoc()" class='boton' mat-raised-button>Ver contenido</button>
                </div>
                <div class = "row fas">
                    <h2 class = "col-lg-12"> Fase: <B>{{etapa()}}</B></h2> 
                    
                </div>
            
                <mat-tab-group selectedIndex = {{x}}>

                        <mat-tab class="cosa" label="Información">
                            
                            <div class="izq" *ngIf = "!isEdit()">
                                
                                <p>Nombre: {{getNombre()}}</p> 
                                <p>Descripcion: {{getDes()}}</p>
                                <p>Referencias: {{getRefs()}}</p>
                            </div>

                            <div class = "izq" *ngIf = "isEdit()">
                                
                                <form class="example-form">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{getNombre()}}" #nombre>
                                    </mat-form-field><br><br>
                                
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="{{getDes()}}" matTextareaAutoresize matAutosizeMinRows= "2" matAutosizeMaxRows="5"  #des></textarea>
                                    </mat-form-field>
                                    <br><br>
            
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{getRefs()}}" #ref>
                                    </mat-form-field>
                                    <br><br>
                                    <button (click)="change(nombre.value, des.value, ref.value)" class='boton' mat-raised-button>Guardar</button>
                                    
                                </form>            
                            </div>
                            <div class="der" *ngIf = 'isAdmin()'>
                                <button (click)="edit()" *ngIf="!isEdit()" class='boton' mat-raised-button>Editar</button>
                                <button (click)="noEdit()" *ngIf="isEdit()" class='boton' mat-raised-button>Cancelar</button>
                            </div>
                        </mat-tab>
                        <mat-tab label="Fases">
                            <div class = "row">
                                <div class="izq col-lg-8">
                                    <h4>Fases del documento.</h4>
                                    <h5>Redacción inicial:</h5>
                                    <p>Fase de reddacion del documento por parte de los expertos.</p>
                                    <h5>Llamada a la participacion</h5>
                                    <p>Difusión del documento e invitacion a participar en el para todos los posibles ususarios</p>
                                    <h5>Revision colectiva</h5>
                                    <p>Permite a todos los participantes aportar comentarios sobre el documento para su futura mejoría.</p>
                                    <h5>Analisis de sugerencias</h5>
                                    <p>Se genera un mapa de calor del texto a parte de diversas estadisticas para poder corregirlo acorde a los comentarios.</p>
                                    <h5>Redaccion de cambios</h5>
                                    <p>Correcion del documento a partir de las estadisticas generadas en la fase anterior para posibilitar un acercamiento a la opinion de los partiipantes.</p>
                                    <h5>Redaccion final</h5>
                                    <p>Una vez redactado un documento aceptable para todos los participantes, este se termina de redactar y se cierra.</p>

                                </div>
                                <div class="der col-lg-3" *ngIf = 'isAdmin()'>
                                    <button (click)="siguiente()" class='boton fase' mat-raised-button>Siguiente fase</button><br><br>
                                    <button (click)="fin()" *ngIf = 'isFin()' class='boton fase' mat-raised-button>Finalizar</button> 
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Analisis">
                            <br><br>
                            <div>
                                Resumenes de votos, estadisticas etc
                            </div>
                        </mat-tab>
                        <mat-tab label = "Admins">
                            <br><br>
                            <div>
                                Administradores del documento
                            </div>
                        </mat-tab>
                </mat-tab-group>
            </div>
        </div>


        <div class = "col-lg-2">

        

        </div>
    </div>

