.row{

    margin-top: 50px;

}

.top{


    display: inline-block;
    width: 100%;
    
    
}

.izq{
   
    padding: 20px;
    float: left;
    text-align: left;
    
}

.der{

    float: right;
    padding: 20px;

}

.info{
    
    text-align: left;
    width: 100%;
    float: left;
    border-right-style: solid;
    border-left-style: solid;
    border-color: cornflowerblue;
    border-radius: 20px;
    border-width: 1.5px;
    padding: 30px;
    color: cornflowerblue;
}

.example-form {

    width: 250%;
    float: left;
  }
  
  .example-full-width {

    width: 100%;
  }
  
  .boton{   
      color:#60708B;
  }
