@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


h1{
    
    color: #6495ed;
    
    
}

body { 
    
    background-color: whitesmoke;
    /*background: #383737;*/
    font-family: Roboto,Helvetica,Arial,sans-serif;
    /*font-family: "Old Standard TT";*/
    margin: 0;
    /*color:  #aaa;*/
    color: black;
    

}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


.texto{
   
    display: inline-block;
    
}

.boton{
    
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  font-size: 15px;
  color: #607D8B;

}

.boton:visited, .boton:link {
  background-color: #6495ed;
}
.boton:hover {
  color: #039be5;
  background-color: #64abed5e;
}
.boton.active {
  color: #039be5;
}

.comment{

  background-color: rgba(229, 232, 42, 0.7);
  

}

span[data\:mapa*='+1']{

  background-color: rgba(144, 199, 250, 0.5);
  /*background-color: white;*/

}

span[data\:mapa*='+2']{

  background-color: rgba(62, 122, 252, 0.5);
 /* background-color: white;*/

}

span[data\:mapa*='+3']{

  background-color: rgba(0, 4, 255, 0.5);
  /*background-color: white;*/

}


span[data\:mapa*='-1']{

  background-color: rgba(187, 35, 35, 0.5);
  /*background-color: white;*/

}

span[data\:mapa*='-2']{

  background-color: rgba(133, 54, 54, 0.5);
  /*background-color: white;*/

}

span[data\:mapa*='-3']{

  background-color: rgba(255, 0, 0, 0.5);
  /*background-color: white;*/

}
/* You can add global styles to this file, and also import other style files */
