<div>
    <br><br>
    <mat-form-field>
        <mat-select placeholder = "voto" #voto>
                <mat-option value = "positive">Positivo</mat-option>  
                <mat-option value = "negative">Negativo</mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>

    <mat-form-field class='opinar'>

        <textarea  matInput placeholder="Opinion" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="20" #opinion>
        </textarea>

    </mat-form-field>
    
    <button class='boton' mat-raised-button (click)="comentar(voto.value, opinion.value)">Enviar</button>
    <div *ngIf = "enviado()">{{send}}</div>
    <div>{{comentarios}}</div>
</div>
