<div class = "row">
    
    <mat-form-field class = "col-lg-12">
        <mat-select placeholder = "voto" #voto>
                <mat-option value = "positive">Positivo</mat-option>  
                <mat-option value = "negative">Negativo</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class = "col-lg-12">

        <textarea  matInput placeholder="Opinion" matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="20" #opinion>
        </textarea>

    </mat-form-field>
    
    <button class='col-lg-12 boton' mat-raised-button (click)="comentar(voto.value, opinion.value)">Enviar</button><br>
    <div class = "col-lg-12" *ngIf = "enviado()">{{send}}</div>
    <div class = "col-lg-12">{{comentarios}}</div>

</div>
