#editor{

    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 14px -4px #919191;
    border: 1px solid #e0e0e0;
    max-width: 210mm;
    min-width: 320px;
    min-height: 297mm;
    margin: 0px auto 30px;
    padding: 1.5cm 2cm;
    text-align: initial;
    line-height: 1.35;
    font-family: Roboto,Helvetica,Arial,sans-serif;

}


